<!DOCUMENT html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Supreme layout</h1>
      <div class="row clearfix">
        <nav class="col col-12">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </nav>
      </div>
      <div class="row clearfix">
        <aside class="col col-3">
          <h3>Side info</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit at voluptates quae asperiores consequuntur? Beatae sunt, nesciunt quis eligendi in distinctio ad excepturi ducimus velit voluptatibus deserunt ipsa soluta minus cumque porro placeat aliquid a esse itaque incidunt officiis quidem architecto tempore eos! Praesentium, dignissimos at amet tempore corporis nobis.</p>
        </aside>
        <main class="col col-9">
          <h2>Main content</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore magni in alias, officia odit ratione quod ducimus labore minus placeat maxime modi. Nam explicabo consequuntur excepturi. Totam provident voluptates temporibus?</p>
        </main>
      </div>
      <div class="row clearfix employees">
        <h2>Our emplyees</h2>
        <div class="col col-3">
          <i class="fa fa-ambulance"></i>
          <h5>Person</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ad dolores quisquam odit. Aliquid, similique?</p>
        </div>
        <div class="col col-3">
          <i class="fa fa-apple"></i>
          <h5>Person</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ad dolores quisquam odit. Aliquid, similique?</p>
        </div>
        <div class="col col-3">
          <i class="fa fa-android"></i>
          <h5>Person</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ad dolores quisquam odit. Aliquid, similique?</p>
        </div>
        <div class="col col-3">
          <i class="fa fa-angellist"></i>
          <h5>Person</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ad dolores quisquam odit. Aliquid, similique?</p>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col col-8 col-offset-2 middle">
          <h2>IN THE MIDDLE</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam nam commodi odio numquam, dicta voluptatem fuga voluptates porro quasi laborum quae debitis nisi impedit sit ipsum nostrum eaque itaque. Voluptatem.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, cupiditate! Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, cupiditate! Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, cupiditate! Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, cupiditate! Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
      </div>
      <div class="row clearfix">
        <footer class="col col-12">
          <p>
            Footer
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
