* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.clearfix::before, .clearix::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  min-height: 1px;
  padding: 12px;
}

/* Column widths */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Column offsets */
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

nav, footer, h1, h2, h3 {
  text-align: center;
}

nav, footer {
  background: #2c3e50;
  border: 1px solid #95a5a6;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding-left: 15px;
}

nav li, nav a {
  display: inline-block;
}

nav a, footer p {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  transition: color 0.35s ease;
}

nav a:hover {
  color: #95a5a6;
}

i {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #95a5a6;
  text-align: center;
  padding-top: 45px;
}

i.fa {
  font-size: 50px;
}
