/*
nav background: #313234
nav hover color: #01CDEB
nav font color: #FEFEFE
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans';
}

header {
  width: 100%;
  height: 50px;
  background: #313234;
}

header>nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

header>nav ul li {
  display: inline-block;
}

header>nav ul>li>a {
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

header>nav ul>li>a:hover {
  color: #01CDEB;
}

header>nav img {
  padding: 10px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hero {
  width: 100%;
  height: 60vh;
  background: no-repeat center/cover url("https://s3.eu-west-2.amazonaws.com/some-random-photos/mia-baker-322596-unsplash.jpg");
  position: relative;
}

.slogan, .awesome, .role h2, .icons>i.fa {
  color: #fff;
}

 .icons:hover h2 {
   color: #01CDEB;
 }

 .icons>p, .featured p {
   color: #313234;
 }

.layer>i.fa {
   color: #000;
}

.dot {
  background: grey;
}

.dot:hover, .layer>i.fa {
  background: #fff;
}

.icons>i.fa {
  background: #313234;
}

.icons:hover>i.fa {
  background: #01CDEB;
}

.layer, .slogan {
    background: rgba(0,0,0,0.7);
}

.slogan {
  max-width: 800px;
  float: right;
  text-transform: uppercase;
  padding: 20px 200px 20px 30px;
  position: absolute;
  top: 25%;
  right: 0;
}

.slogan h1, .featured h1 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.awesome h1 {
  font-size: 3em;
}

.slogan h1::first-line {
  font-weight: 200;
}

.dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.dot {
  display:inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 20px;
}

.col {
  float: left;
  min-height: 1px;
  padding: 12px;
}

/* Column widths */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Column offsets */
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

.icons, .featured, .crew h2 {
  text-align: center;
}

.icons>i.fa {
  font-size: 75px;
  padding: 25px;
  border-radius: 10px;
}

 .icons>p, .featured p {
   padding: 0 40px;
   margin: 4px;
 }

 .icons>h2, .featured h1, .awesome h1 {
   margin-bottom: 0;
   margin-top: 30px;
   text-transform: uppercase;
 }

section>.container {
  margin: 50px auto;
}

.featured {
  padding: 0 25%;
}

.pic {
  min-width: 200px;
  min-height: 200px;
  background: url("http://via.placeholder.com/200x200");
}

.pic-1 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic1.png");}
.pic-2 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic2.png");}
.pic-3 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic3.png");}
.pic-4 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic4.png");}
.pic-5 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic5.png");}
.pic-6 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic1.png");}
.pic-7 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic3.png");}
.pic-8 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic2.png");}
.pic-9 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic5.png");}
.pic-10 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic4.png");}
.pic-11 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic2.png");}
.pic-12 {background: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/somepic1.png");}

.gallery .col {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: -250px;
  right: 0;
  width: 100%;
  height: 100%;
  transition: top 0.4s;
}

.layer>i.fa {
  font-size: 18px;
  padding: 8px;
  border-radius: 5%;
  margin: 83px 0;
  position: absolute;
}

.layer>i.fa-camera-retro {
  margin-left: 60%;
}

.layer>i.fa-search {
  margin-left: 25%;
}

.col:hover .layer, .oval:hover .layer {
  top: 0;
}

.oval {
  background: url("http://via.placeholder.com/200x200");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: gray;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 50px auto 10px;
  position: relative;
  overflow: hidden;
}

.oval-1 {background-image: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/portrait1.png");}
.oval-2 {background-image: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/portrait3.png");}
.oval-3 {background-image: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/portrait2.png");}
.oval-4 {background-image: url("https://s3.eu-west-2.amazonaws.com/some-random-photos/portrait4.png");}

.role h2 {
  margin-top: 40%;
}

.awesome {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a8b3dc+60,403f63+95,403f63+100 */
  background: #313234; /* Old browsers */
  background: -moz-linear-gradient(left, #313234 60%, #403f63 95%, #403f63 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #313234 60%,#403f63 95%,#403f63 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #313234 60%,#403f63 95%,#403f63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313234', endColorstr='#403f63',GradientType=0 ); /* IE6-9 */
}

.awesome img {
  width: 400px;
}
